<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*" Name="TFS Aggregator" Language="1033" Version="$(var.BuildVersion)" Manufacturer="TFS Aggregator Team" UpgradeCode="1c6958f9-0865-449d-abd9-71b4600ff1f0">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- HACK hard-coded versions -->
    <!-- TODO generate version specific snippets -->

    <Feature Id="ClientFeature" Title="Client test application" Level='1' AllowAdvertise='no' Display='expand' >
      <Feature Id='Client2013Feature' Title="Client for TFS 2013.5" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2013"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2013"]]>
        </Condition>
      </Feature>
      <Feature Id='Client2015Feature' Title="Client for TFS 2015 RTM" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2015"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2015"]]>
        </Condition>
      </Feature>
      <Feature Id='Client2015.1Feature' Title="Client for TFS 2015.1" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2015.1"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2015.1"]]>
        </Condition>
      </Feature>
      <Feature Id='Client2015.2Feature' Title="Client for TFS 2015.2 up to 2015.4.1" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2015.2"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2015.2"]]>
        </Condition>
      </Feature>
      <Feature Id='Client2017Feature' Title='Client for TFS 2017 RTM and 2017.1' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2017"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2017"]]>
        </Condition>
      </Feature>
      <Feature Id='Client2017.2Feature' Title='Client for TFS 2017.2 up to 2017.3.1' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2017.2"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2017.2"]]>
        </Condition>
      </Feature>
      <Feature Id='Client2018Feature' Title='Client for TFS 2018 up to 2018.3' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2018"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2018"]]>
        </Condition>
      </Feature>
      <Feature Id='Client2019Feature' Title='Client for Azure DevOps Server 2019' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="ClientComponents2019"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2019"]]>
        </Condition>
      </Feature>
    </Feature>

    <Feature Id="ServerFeature" Title="Server plugin" Level='1' AllowAdvertise='no' Display='expand' >
      <Feature Id='Server2013Feature' Title="Plugin for TFS 2013.5" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2013"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2013"]]>
        </Condition>
      </Feature>
      <Feature Id='Server2015Feature' Title="Plugin for TFS 2015 RTM" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2015"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2015"]]>
        </Condition>
      </Feature>
      <Feature Id='Server2015.1Feature' Title="Plugin for TFS 2015.1" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2015.1"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2015.1"]]>
        </Condition>
      </Feature>
      <Feature Id='Server2015.2Feature' Title="Plugin for TFS 2015.2" Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2015.2"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2015.2"]]>
        </Condition>
      </Feature>
      <Feature Id='Server2017Feature' Title='Plugin for TFS 2017 RTM and 2017.1' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2017"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2017"]]>
        </Condition>
      </Feature>
      <Feature Id='Server2017.2Feature' Title='Plugin for TFS 2017.2 and 2017.3' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2017.2"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2017.2"]]>
        </Condition>
      </Feature>
      <Feature Id='Server2018Feature' Title='Plugin for TFS 2018 up to 2018.3' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2018"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2018"]]>
        </Condition>
      </Feature>
      <Feature Id='Server2019Feature' Title='Plugin for Azure DevOps Server 2019' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id="NeutralServerComponents" />
        <ComponentGroupRef Id="ServerComponents2019"/>
        <Condition Level="1000">
          <![CDATA[TEAMFOUNDATIONSERVERVERSION<>"2019"]]>
        </Condition>
      </Feature>
    </Feature>

    <Feature Id='NeutralFeature' Title="Documentation and samples" Level='1' AllowAdvertise='no'>
      <ComponentGroupRef Id="NeutralComponents" />
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE-2.0.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="AggregatorBanner.Bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="AggregatorDialog.Bmp"/>
  </Product>

  <Fragment>

    <Property Id="TEAMFOUNDATIONSERVER2013">
      <RegistrySearch
        Id="TeamFoundationServer12" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\12.0\InstalledComponents\ApplicationTier"
        Name="InstallPath" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2013BUILD">
      <RegistrySearch
        Id="TeamFoundationServer12Build" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\12.0"
        Name="BuildNumber" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2015">
      <RegistrySearch
        Id="TeamFoundationServer14" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\14.0\InstalledComponents\ApplicationTier"
        Name="InstallPath" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2015BUILD">
      <RegistrySearch
        Id="TeamFoundationServer14Build" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\14.0"
        Name="BuildNumber" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2017">
      <RegistrySearch
        Id="TeamFoundationServer15" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\15.0\InstalledComponents\ApplicationTier"
        Name="InstallPath" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2017BUILD">
      <RegistrySearch
        Id="TeamFoundationServer15Build" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\15.0"
        Name="BuildNumber" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2018">
      <RegistrySearch
        Id="TeamFoundationServer16" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\16.0\InstalledComponents\ApplicationTier"
        Name="InstallPath" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2018BUILD">
      <RegistrySearch
        Id="TeamFoundationServer16Build" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\16.0"
        Name="BuildNumber" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2019BUILD">
      <RegistrySearch
        Id="TeamFoundationServer17Build" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\17.0"
        Name="BuildNumber" Type="raw" />
    </Property>
    <Property Id="TEAMFOUNDATIONSERVER2019">
      <RegistrySearch
        Id="TeamFoundationServer17" Win64="yes"
        Root="HKLM" Key="SOFTWARE\Microsoft\TeamFoundationServer\17.0\InstalledComponents\ApplicationTier"
        Name="InstallPath" Type="raw" />
    </Property>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_451_OR_LATER_INSTALLED"/>

    <Condition Message="This application requires .NET Framework 4.5.1 or later. Please install or update the .NET Framework then run this installer again.">
      <![CDATA[Installed OR (WIX_IS_NETFRAMEWORK_451_OR_LATER_INSTALLED)]]>
    </Condition>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2013" Before="LaunchConditions" Action="TFSVer2013">
      <![CDATA[TEAMFOUNDATIONSERVER2013]]>
    </SetProperty>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2015" Before="LaunchConditions" Action="TFSVer2015RTM">
      <![CDATA[TEAMFOUNDATIONSERVER2015 AND TEAMFOUNDATIONSERVER2015BUILD = "14.0.23128.0"]]>
    </SetProperty>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2015.1" Before="LaunchConditions" Action="TFSVer2015u1">
      <![CDATA[TEAMFOUNDATIONSERVER2015 AND TEAMFOUNDATIONSERVER2015BUILD = "14.0.24712.0"]]>
    </SetProperty>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2015.2" Before="LaunchConditions" Action="TFSVer2015u2">
      <![CDATA[TEAMFOUNDATIONSERVER2015 AND TEAMFOUNDATIONSERVER2015BUILD <> "14.0.23128.0" AND TEAMFOUNDATIONSERVER2015BUILD <> "14.0.24712.0"]]>
    </SetProperty>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2017" Before="LaunchConditions" Action="TFSVer2017RTM">
      <![CDATA[TEAMFOUNDATIONSERVER2017 AND (TEAMFOUNDATIONSERVER2017BUILD = "15.105.25910.0" OR TEAMFOUNDATIONSERVER2017BUILD = "15.105.27412.0" OR TEAMFOUNDATIONSERVER2017BUILD = "15.112.26307.0")]]>
    </SetProperty>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2017.2" Before="LaunchConditions" Action="TFSVer2017u2">
      <![CDATA[TEAMFOUNDATIONSERVER2017 AND TEAMFOUNDATIONSERVER2017BUILD <> "15.105.25910.0" AND TEAMFOUNDATIONSERVER2017BUILD <> "15.112.26307.0" AND TEAMFOUNDATIONSERVER2017BUILD <> "15.105.27412.0"]]>
    </SetProperty>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2018" Before="LaunchConditions" Action="TFSVer2018RTM">
      <!-- TFS2018rtm:   16.122.27102.1 -->
      <!-- TFS2018u1rc1: 16.122.27319.1 -->
      <!-- TFS2018u1:    16.122.27409.2 -->
      <!-- TFS2018u2escrow:    16.131.27620.1 -->
      <!-- TFS2018u2:    16.131.27701.1 -->
      <!-- 16.131.28002.2 (Tfs2018.Update3.RC) -->
      <!-- 16.131.28030.2 (Tfs2018.Update3) -->
      <!-- 16.131.28106.2 (Tfs2018.Update3) -->

      <![CDATA[TEAMFOUNDATIONSERVER2018 AND (TEAMFOUNDATIONSERVER2018BUILD = "16.122.27102.1" OR TEAMFOUNDATIONSERVER2018BUILD = "16.122.27319.1" OR TEAMFOUNDATIONSERVER2018BUILD = "16.122.27402.3" OR TEAMFOUNDATIONSERVER2018BUILD = "16.122.27409.2" OR TEAMFOUNDATIONSERVER2018BUILD = "16.131.27620.1" OR TEAMFOUNDATIONSERVER2018BUILD = "16.131.27701.1" OR TEAMFOUNDATIONSERVER2018BUILD = "16.131.28002.2" OR TEAMFOUNDATIONSERVER2018BUILD = "16.131.28030.2" OR TEAMFOUNDATIONSERVER2018BUILD = "16.131.28106.2")]]>
    </SetProperty>
    <SetProperty Id="TEAMFOUNDATIONSERVERVERSION" Value="2019" Before="LaunchConditions" Action="TFSVer2019RTM">
      <!-- 17.142.28309.3 (AzureDevOps2019.RC1) -->
      <!-- 17.143.28504.6 (AzureDevOps2019.RC2.Dev17.M143.escrow) -->
      <!-- 17.143.28511.3 (AzureDevOps2019.RC2.Dev17.M143) -->
      <!-- 17.143.28604.6 (AzureDevOps2019.Dev17.M143.RTW.escrow) -->
      <!-- 17.143.28621.4 (AzureDevOps2019.RTW) -->
      <![CDATA[TEAMFOUNDATIONSERVER2019 AND (TEAMFOUNDATIONSERVER2019BUILD = "17.142.28309.3" OR TEAMFOUNDATIONSERVER2019BUILD = "17.143.28504.6" OR TEAMFOUNDATIONSERVER2019BUILD = "17.143.28511.3" OR TEAMFOUNDATIONSERVER2019BUILD = "17.143.28604.6" OR TEAMFOUNDATIONSERVER2019BUILD = "17.143.28621.4" )]]>
    </SetProperty>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="TFS Aggregator" >
          <Directory Id="ClientBinDir" Name="bin" />
          <Directory Id="SamplesDir" Name="samples" />
          <Directory Id="DocumentationDir" Name="docs" />
        </Directory>
      </Directory>
      <Directory Id="TFSINSTALLFOLDER" Name="Application Tier">
        <Directory Id="TFSWebServices" Name="Web Services">
          <Directory Id="TFSbin" Name="bin">
            <Directory Id="TFSPlugins" Name="Plugins" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="TFSINSTALLFOLDER" Value="[TEAMFOUNDATIONSERVER2019]" Action="SetTFSINSTALLFOLDER2019">
      TEAMFOUNDATIONSERVER2019
    </SetDirectory>
    <SetDirectory Id="TFSINSTALLFOLDER" Value="[TEAMFOUNDATIONSERVER2018]" Action="SetTFSINSTALLFOLDER2018">
      TEAMFOUNDATIONSERVER2018 AND NOT TEAMFOUNDATIONSERVER2019
    </SetDirectory>
    <SetDirectory Id="TFSINSTALLFOLDER" Value="[TEAMFOUNDATIONSERVER2017]" Action="SetTFSINSTALLFOLDER2017">
      TEAMFOUNDATIONSERVER2017 AND NOT TEAMFOUNDATIONSERVER2018 AND NOT TEAMFOUNDATIONSERVER2019
    </SetDirectory>
    <SetDirectory Id="TFSINSTALLFOLDER" Value="[TEAMFOUNDATIONSERVER2015]" Action="SetTFSINSTALLFOLDER2015">
      TEAMFOUNDATIONSERVER2015 AND NOT TEAMFOUNDATIONSERVER2017 AND NOT TEAMFOUNDATIONSERVER2018 AND NOT TEAMFOUNDATIONSERVER2019
    </SetDirectory>
    <SetDirectory Id="TFSINSTALLFOLDER" Value="[TEAMFOUNDATIONSERVER2013]" Action="SetTFSINSTALLFOLDER2013">
      TEAMFOUNDATIONSERVER2013 AND NOT TEAMFOUNDATIONSERVER2015 AND NOT TEAMFOUNDATIONSERVER2017 AND NOT TEAMFOUNDATIONSERVER2018 AND NOT TEAMFOUNDATIONSERVER2019
    </SetDirectory>

  </Fragment>

  <Fragment>
    <ComponentGroup Id="NeutralServerComponents" Directory="TFSPlugins">
      <Component Id="ServerPlugin.Config" Win64="yes" Permanent="yes" Guid="{BECD39C9-A75A-4823-AB29-1FC3915A0329}" >
        <File Id="ServerPlugin.policies" Name="TFSAggregator2.ServerPlugin.policies" Source="$(var.SolutionDir)\samples\TFSAggregator2.ServerPlugin.policies" />
      </Component>
      <Component Id="eventSource" Win64="yes">
        <util:EventSource
          KeyPath="yes"
          Log="Application" Name="TFSAggregator"
          EventMessageFile="[NETFRAMEWORK40INSTALLROOTDIR]EventLogMessages.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
