<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <TfsInstallationDirectory Condition="'$(TfsInstallationDirectory)'==''">$(Registry:HKEY_LOCAL_MACHINE\Software\Microsoft\TeamFoundationServer\14.0@InstallPath)</TfsInstallationDirectory>
    <TfsInstallationDirectory Condition="'$(TfsInstallationDirectory)'==''">$(Registry:HKEY_LOCAL_MACHINE\Software\Wow6432Node\Microsoft\TeamFoundationServer\14.0@InstallPath)</TfsInstallationDirectory>
    
    <ServerAssemblies Condition="'$(TfsInstallationDirectory)'!=''">$(TfsInstallationDirectory)\Application Tier\Web Services\bin</ServerAssemblies>

    <ServerAssemblies Condition="'$(TfsInstallationDirectory)'==''">..\References</ServerAssemblies>
  </PropertyGroup>

  <ItemGroup>

    <!-- Server Assemblies -->
    <Reference Include="Microsoft.TeamFoundation.Framework.Server">
      <HintPath>$(ServerAssemblies)\Microsoft.TeamFoundation.Framework.Server.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.TeamFoundation.Server.Core">
      <HintPath>$(ServerAssemblies)\Microsoft.TeamFoundation.Server.Core.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.TeamFoundation.WorkItemTracking.Server">
      <HintPath>$(ServerAssemblies)\Microsoft.TeamFoundation.WorkItemTracking.Server.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer">
      <HintPath>$(ServerAssemblies)\Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.dll</HintPath>
    </Reference>
    <Reference Include="Microsoft.TeamFoundation.WorkItemTracking.Server.DataServices">
      <HintPath>$(ServerAssemblies)\Microsoft.TeamFoundation.WorkItemTracking.Server.DataServices.dll</HintPath>
    </Reference>
    
  </ItemGroup>
</Project>