<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="xunit.methodDisplay" value="method"/>
    <!-- TFS fixture -->
    <add key="TFS.SQLInstance" value="{0}\SQLEXPRESS"/>
    <add key="TFS.CollectionName" value="TfsAggregator2IntegrationTest"/>
    <add key="TFS.ProjectName" value="ScrumTfvc"/>
    <add key="TFS.SQLDataDir" value="C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
