<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="ManyConsole" version="0.4.2.20" targetFramework="net452" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="1.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.1" targetFramework="net452" />
  <package id="Microsoft.TeamFoundationServer.Client" version="15.103.0-preview" targetFramework="net452" />
  <package id="Microsoft.TeamFoundationServer.ExtendedClient" version="15.103.0-preview" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.103.0-preview" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="15.103.0-preview" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net452" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="1.16.0" targetFramework="net452" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
  <package id="System.Management.Automation_PowerShell_3.0" version="6.3.9600.17400" targetFramework="net45" />
  <package id="System.Runtime.Analyzers" version="1.1.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.1.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net452" />
</packages>